.card {
  background-color: rgba(255, 255, 255, 0.433);
  margin: 0 auto;
  border-radius: 20px;
}

.title {
  margin: 0 auto 0 auto;
  color: #78938a;
  font-family: monospace;
  font-size: 60px;
  text-shadow: 2px 2px white;
  font-weight: 100;
  text-align: center;
  padding: 40px;
}
.first-space {
  width: 150px;
  height: auto;
  display: inline-block;
}
.space {
  width: 4px;
  height: auto;
  display: inline-block;
}

body {
  background: white;
  background-image: url("../image/type-writer.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 1100px;
  background-position-x: center;
}
a {
  color: white;
}
a:active {
  color: #525e75;
}
button {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: monospace;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 4px 3px 2px 1px #525e75;
  border: 2px solid #525e75;
  background: #525e75;
  margin-top: 25px;
  margin-left: 40px;
  transition: all 1s ease-out;
}
button:hover {
  background: white;
  color: #525e75;
  cursor: pointer;
}
textarea {
  height: 250px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}
footer {
  text-align: center;
  color: #525e75;
}
.save-button {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 10px 50px;
}
